extends layout
block content
    html
        head
            style
              include style.css
        h5 Location: 123, Woodside plaza, Redwood City, CA 94064
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12668.418052617366!2d-122.24468132346347!3d37.45825421020339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fa39173f84e89%3A0xc47ca6dbc4f8c6c8!2sWoodside%20Plaza%2C%20Redwood%20City%2C%20CA%2094061!5e0!3m2!1sen!2sus!4v1597108320359!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
        .image-block
            img(src="/img/wide.jpg")
            img(src="/img/wide.jpg" )
            img(src="/img/paris.jpg")
            img(src="/img/mountainskies.jpg" )
            img(src="/img/img_lights.jpg" )
